[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
sqlalchemy = {extras = ["asyncio"], version = "*"}
alembic = "*"
asyncpg = "*"
pytest-asyncio = "*"
redis = "*"
asyncio-redis = "*"
passlib = "*"
bcrypt = "*"
fastapi-users = {extras = ["sqlalchemy"], version = "*"}
python-jose = "*"
jwt = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
